/* /* .flex-container {
    width: auto;
    border: 1px solid red;
    padding: 0;
    display: flex;
    flex-direction: column;  */
    /* justify-content: center; */
    /* align-items: center;
    flex-wrap: wrap;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 5% 50% 5% 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
    font-size: 32px;
} */

.main-container {
    display: flex;
    justify-content: center;
}
  
.nav-menu {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
}
  
.flex-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.flex-item {
   gap: 20px;
}
  
.flex-link {
    text-decoration: none;
    color: white;
    font-weight: 700px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
  
.flex-link:hover {
    background-color: #555;
}
.main-foto{ 
  display: block;
  margin: auto;
}
ul{ 
    list-style-type: none;
}